<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.naturalprogrammer.spring5tutorial" />

    <import resource="classpath:property-config-context.xml"/>
    <import resource="classpath:web-context.xml"/>
    <import resource="classpath:aop-context.xml"/>
    <import resource="classpath:dao-context.xml"/>
    <import resource="classpath:entity-context.xml"/>
    <import resource="classpath:mail-context.xml"/>
    <import resource="classpath:security-context.xml"/>
    <import resource="classpath:service-context.xml"/>


    <!--<aop:config>-->
        <!--<aop:aspect ref="needsConfirmPassword">-->
            <!--<aop:pointcut id="needsConfirm" expression="@annotation(com.naturalprogrammer.spring5tutorial.aop.NeedsConfirmPassword)"/>-->
            <!--<aop:before method="wrap" pointcut-ref="needsConfirm"/>-->

        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <!--<bean id="needsConfirmPassword" class="com.naturalprogrammer.spring5tutorial.aop.NeedsConfirmPasswordAspect"/>-->
    <!--<bean id="requestMonitorAspect" class="com.naturalprogrammer.spring5tutorial.aop.RequestMonitor"/>-->

</beans>